pipeline/BlogCDM2SQL_3b_schemadrift.json
{
	"name": "BlogCDM2SQL_3b_schemadrift",
	"properties": {
		"activities": [
			{
				"name": "CheckColumn",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableStructure",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FindColumn",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "@concat('SELECT DISTINCT 1 FROM INFORMATION_SCHEMA.columns WHERE table_name = ''' ,pipeline().parameters.tableName, ''', 'AND ',  ''' , item().name, ''')@concat('SELECT DISTINCT 1 FROM INFORMATION_SCHEMA.columns WHERE table_name = ''' ,pipeline().parameters.tableName, '''')",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "InsertcvstoSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "DummyTable",
										"TableSchema": "DummySchema"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CheckAddColumn",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FindColumn",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('FindColumn').output.count,1)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Add Column",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[ExecuteQuery]",
											"storedProcedureParameters": {
												"": {
													"value": ""
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableStructure": {
				"type": "array"
			},
			"tableName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}