pipeline/SQLtoEDLprod1.json
{
	"name": "SQLtoEDLprod1",
	"properties": {
		"activities": [
			{
				"name": "CopySQLtoADLSgen2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SaveProcessMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTable2ADLSgen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetTableStructure",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.schema}.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "dbtest1//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GetTableDataFromSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"cw_schema": "@item().source.schema",
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WriteTableDataToADLSgen2",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						},
						{
							"name": "GetTableStructure",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "GetTableDataFromSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"cw_schema": "@item().source.schema",
										"cw_table": "@item().source.table"
									}
								},
								"fieldList": [
									"structure",
									"columnCount"
								]
							}
						},
						{
							"name": "Write metadata to folder app",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "CopyTable2ADLSgen2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "modeljsonwrite",
								"method": "POST",
								"body": {
									"value": "@concat('{\"tableStructureArray\":', string(variables('tableStructureArray')), ',\"processMetaDataCollibra\":', string(variables('processMetaDataCollibra')), ',\"tableNameArray\":', string(variables('tableNameArray')), ',\"filepath\":\"', concat('testedlprod1container/', item().destination.fileName, '/', utcnow('yyyy'), '/', utcnow('MM'), '/', utcnow('dd')), '\"}')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "Blogmetadatafunc",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SetTableStructure",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetTableStructure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tableStructureArray",
								"value": [
									"@activity('GetTableStructure').output"
								]
							}
						},
						{
							"name": "SetTableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetTableStructure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tableNameArray",
								"value": {
									"value": "@array(concat(item().source.schema, item().source.table))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetProcessMetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"dataset": {
						"referenceName": "GetProcessMetaDataStor",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SaveProcessMetaData",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetProcessMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "processMetaDataCollibra",
					"value": [
						"@activity('GetProcessMetaData').output"
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"schema": "dbo",
							"table": "BuildVersion"
						},
						"destination": {
							"fileName": "dboBuildVersion.txt"
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "ErrorLog"
						},
						"destination": {
							"fileName": "dboErrorLog.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "Address"
						},
						"destination": {
							"fileName": "SalesLTAddress.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "Customer"
						},
						"destination": {
							"fileName": "SalesLTCustomer.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "CustomerAddress"
						},
						"destination": {
							"fileName": "SalesLTCustomerAddress.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "Product"
						},
						"destination": {
							"fileName": "SalesLTProduct.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "ProductCategory"
						},
						"destination": {
							"fileName": "SalesLTProductCategory.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "ProductDescription"
						},
						"destination": {
							"fileName": "SalesLTProductDescription.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "ProductModel"
						},
						"destination": {
							"fileName": "SalesLTProductModel.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "ProductModelProductDescription"
						},
						"destination": {
							"fileName": "SalesLTProductModelProductDescription.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "SalesOrderDetail"
						},
						"destination": {
							"fileName": "SalesLTSalesOrderDetail.txt"
						}
					},
					{
						"source": {
							"schema": "SalesLT",
							"table": "SalesOrderHeader"
						},
						"destination": {
							"fileName": "SalesLTSalesOrderHeader.txt"
						}
					}
				]
			}
		},
		"variables": {
			"tableStructureArray": {
				"type": "Array"
			},
			"tableNameArray": {
				"type": "Array"
			},
			"processMetaDataCollibra": {
				"type": "Array"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}